// @import "fonts.scss";

/*TYPO*/
// $averta-bold: "Averta Bold", sans-serif;
// $averta-black: "Averta Black", sans-serif;
// $averta-extrabold: "Averta ExtraBold", sans-serif;
// $averta-light: "Averta Light", sans-serif;
// $averta-thin: "Averta Thin", sans-serif;
// $averta-regular: "Averta Regular", sans-serif;
// $averta-semibold: "Averta Semibold", sans-serif;
// $TiemposHeadline: "Tiempos Headline", sans-serif;

/*COLOR*/
$white: #fff;

$light-grey: #cbd2d9;
$dark-grey: #7b8794;

$light-blue: #b3ecff;
$blue: #40c3f7;
$dark-blue: #1f2933;

/**** RESPONSIVE ****/
$mini-mobile: "screen and (max-width: 520px)";
$mobile: "screen and (max-width: 767px)";
$tablet: "screen and (min-width: 768px)";
$desktop: "(min-width: 1024px)";
