/*TYPO*/
$poppins-bold: "Poppins Bold", sans-serif;
$poppins-semibold: "Poppins Semibold", sans-serif;
$poppins-medium: "Poppins Medium", sans-serif;
$poppins-regular: "Poppins Regular", sans-serif;

/*COLOR*/
$white: #fbfbfb;
$black: #1f2933;

$pale-grey: #f5f7fa;
$light-grey: #cbd2d9;
$dark-grey: #7b8794;
$gun-metal: rgba(62, 76, 89, 0.18);

$light-blue: #b3ecff;
$blue: #40c3f7;
$dark-blue: #1f2933;

$pale-aqua: #c6f7e2;
$yellow: #fce588;
$light-salmon: #ff9b9b;
$pinky: #f093b9;
$sky: #81defd;

/**** RESPONSIVE ****/
$mini-mobile: "screen and (min-width: 520px)";
// $mobile: "screen and (min-width: 767px)";
$tablet: "screen and (min-width: 768px)";
$desktop: "(min-width: 1024px)";
